@import url('https://fonts.googleapis.com/css?family=Antonio');

body {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: aliceblue;
    background: rgb(12, 13, 24);
    margin: 10px;
}

.faut {
    position: fixed;
    top: 15px;
    left: 20px;
    height: 46px;
    width: fit-content;
    font-size: 30px;
    font-weight: 700;
    animation: glitch 2.5s;

    text-shadow: none;
}

.faut:hover{
    animation: glitch 2.5s infinite alternate-reverse;
    cursor: default;
}

.menu {
    position: fixed;
    top: 32px;
    right: 20px;
    align-items: flex-start;
    display: flexbox;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 16px;
    right: 20px;
    min-width: 360px;
    display: flex;
    flex-direction: row;
    animation: opacity 2s;
}

nav a {
    padding: 18px;
    text-transform:uppercase;
    color: aliceblue;
    text-decoration: none;
}

nav a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(189, 148, 241);
}

.social {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.github {
    height: 50px;
    width: 50px;
    background-image: url(./assets/github.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(100%);
    cursor: pointer;
}

/*animations*/

@keyframes glitch {
    0% {
        text-shadow: 0.1em  0.1em 0 rgb(189, 148, 241);
        opacity: .4;
    }
    12% {
        text-shadow: 0.18em  0.18em 0 rgb(144, 86, 219);
        opacity: .5;
    }
    25% {
        text-shadow: 0.25em  0.25em 0 rgb(53, 15, 102);
        opacity: .6;
    }
    37% {
        text-shadow: -0.1em  -0.1em 0 rgb(189, 148, 241);
        opacity: .6;
    }
    50% {
        text-shadow: -0.18em  -0.18em 0 rgb(144, 86, 219);
        opacity: .7;
    }
    75% {
        text-shadow: -0.25em  -0.25em 0 rgba(53, 15, 102, 0.75);
        opacity: .8;
    }
    87% {
        text-shadow: -0.25em  -0.25em 0 rgba(53, 15, 102, 0.5);
        opacity: .9;
    }
    100% {
        text-shadow: -0.25em  -0.25em 0 rgba(53, 15, 102, 0.15);
        opacity: 1;
    }
}
