@import url('https://fonts.googleapis.com/css?family=Antonio');

html{
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Antonio', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: black;
    margin: 0px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    width: 16px;
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

#vanta{
    z-index: -1;
    width: 100%;
    height: 1200px;
}

.faut {
    position: absolute;
    left: 150px;
    height: fit-content;
    width: fit-content;
    font-size: 80px;
    font-weight: 700;
    /*background: linear-gradient(to right, #30CFD0 0%, rgb(189, 148, 241) 100%);*/
    background: url(./assets/pexels-pixabay-459799.jpg) 20% 20% no-repeat;
    /*animation: glitch 5s infinite;*/
    animation: backmove 60s infinite alternate;
    z-index: 3;
}

.faut.text{
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.faut:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: ease;
    cursor: default;
}

.menu {
    position: relative;
    top: 50px;
    right: 20px;
    align-items: flex-start;
    display: flexbox;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 16px;
    right: 20px;
    min-width: 360px;
    display: flex;
    flex-direction: row;
    animation: opacity 2s;
    z-index: 1;
}

nav a {
    padding: 18px;
    text-transform:uppercase;
    color: black;
    text-decoration: none;
}

nav a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(60,105,255);
}

.presentation{
    position: fixed;
    top: 200px;
    left: 10%;
    font-size: 80px;
    color: black;
    height: fit-content;
}

.pre_span1{
    animation: myAnim 3s ease 0s 1 normal forwards;
}

.pre_span2{
    position: relative;
    top: 100px;
    opacity: 0;
    animation: myAnim 3s ease 0s 1 normal forwards;
    animation-delay: 2s;
}

.social {
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.github {
    height: 50px;
    width: 50px;
    background-image: url(./assets/github.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(100%);
    cursor: pointer;
}

.body2{
    position: relative;
    top: -300px;
    min-height: 800px;
    width: 100%;    
    background-color: white;
    border-top-left-radius: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(112, 112, 112, 0.2);
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    z-index: 0;
}

.container {
    position: relative;
    top: 100px;
    left: 20px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container h2 {
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    background-color: rgb(89, 58, 202);
    height: 60px;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card{
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    background-size: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*animations*/
@keyframes backmove {
    0%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 0% 0%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    10%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 10% 10%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    20%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 20% 80%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    30%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 50% 30%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    40%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 80% 15%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    50%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 20% 90%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    60%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 80% 10%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    70%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 60% 10%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    80%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 40% 20%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    90%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 20% 50%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    100%{
        background: url(./assets/pexels-pixabay-459799.jpg);
        background-position: 0% 10%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}